footer {
  background: rgba(249, 202, 36, 0.4);
  div {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      display: inline-block;
      width: 50%;
    }
    ul {
      display: flex;
      list-style: none;
      width: 50%;
      justify-content: space-between;
      align-items: center;
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
