section > div {
  height: 450px;
}
section > div:nth-of-type(even) {
  background: rgba(249, 202, 36, 0.2);
}
.custom-image-box-intro,
.custom-image-box-feature {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bible2.jpg");
  background-position: center;
  background-size: cover;
  padding: 0;
}
.custom-image-box-feature {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/specimen2.jpg");
  background-position: center;
  background-size: cover;
}
.custom-image-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f6e58d;
  h2 {
    color: #ffffff;
    text-align: center;
    // transform: scale(1);
    // transition: all 0.5s;
    // &:hover {
    //   transform: scale(1.1);
    // }
  }
}
.custom-blockquote-text {
  font-size: 30px;
}
.custom-feature-list {
  list-style: none;
  padding: 0;
  li {
    //border: 1px solid #eee;
    padding: 10px 0 10px 0;
  }
}
