@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/img/banner.jpg");
  background-size: cover;
}
@layer utilities {
  @responsive {
    .intro-box {
      position: absolute;
      /* top: 50%; */
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
